@keyframes badgeNotification {
    from{
        transform: rotateY(150deg);
    }
    to{
        trasform:none;
    }
}


.badge {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: 600;
    animation: badgeNotification 0.5s ease-in-out;
}

